<!DOCTYPE html>

<html ng-app="goal">
    <head>
        <title>GOAL!</title>

        <!-- Load the bootstrap css file -->
        <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
		<link rel="stylesheet" href="/stylesheets/animations.css" />
		<link rel="stylesheet" href="/stylesheets/index.css" />
		<link rel="stylesheet" href="/stylesheets/tasks.css" />
		<link rel="stylesheet" href="/stylesheets/global.css" />

        <!-- Load all the angular file -->
        <script src="/javascripts/lib/angular/angular.js"></script>
        <script src="/javascripts/lib/angular/angular-route.js"></script>
		<script src="/javascripts/lib/angular/angular-resource.js"></script>
		<script src="/javascripts/lib/angular/angular-cookies.js"></script>

		<!-- Load the chart js files -->
		<script src="/javascripts/lib/chart/Chart.js"></script>
		
		<!-- Load the socket.io files -->
		<script src="/javascripts/lib/socketio/socket.io.js"></script>
		
        <!-- Load our app -->
        <script src="/javascripts/angularApp.js"></script>
        <script src="/javascripts/config/route-config.js"></script>
        
		<script src="/javascripts/services/TasksService.js"></script>
		<script src="/javascripts/services/AuthenticationService.js"></script>
		<script src="/javascripts/services/SocketIOService.js"></script>
		
        <script src="/javascripts/controllers/IndexController.js"></script>
		<script src="/javascripts/controllers/TasksController.js"></script>
		<script src="/javascripts/controllers/AuthController.js"></script>
		<script src="/javascripts/controllers/OverviewController.js"></script>
		<script src="/javascripts/controllers/HeaderController.js"></script>
    </head>

    <body>
        <nav class="navbar navbar-defualt"
			 ng-controller="headerController as vm">
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="#/overview"
						   ng-show="vm.isLoggedIn()">Overview</a></li>
					<li><a href="#/tasks"
						   ng-show="vm.isLoggedIn()">Tasks</a></li>
					<li><a href="#/"
						   ng-click="vm.logout()" ng-show="vm.isLoggedIn()">Logout</a></li>
					<li><a href="#/login"
						   ng-hide="vm.isLoggedIn()">Login</a></li>
					<li><a href="#/register"
						   ng-hide="vm.isLoggedIn()">Register</a></li>
				</ul>
				
				<p class="navbar-text navbar-right" style="margin-right: 10px;"
				   ng-show="vm.currentUser() !== undefined">Signed in as {{vm.currentUser()}}</p>
			</div>
		</nav>
		
        <div class="container">
            <div ng-view></div>
        </div>
        
    </body>
</html>
