<div ng-hide="vm.goals === undefined">
	<div style="margin-top: 20px;">
		<h3 style="font-size: 300%; text-align: center; margin-botton: 30px;">Your day is {{ vm.getDayImportance() }} important</h3>

		<div id="controll-buttons" style="text-align: center; margin-top:20px; margin-bottom: 20px;">
			<button type="button" class="btn btn-primary" 
					ng-click="vm.addGoal()">
				<span class="glyphicon glyphicon-plus"></span> Add
			</button>

			<button type="button" class="btn btn-success"
					ng-click="vm.markDoneSelectedGoals()">
				<span class="glyphicon glyphicon-ok"></span> Done
			</button>

			<button type="button" class="btn btn-danger"
					ng-click="vm.removeSelectedGoals()">
				<span class="glyphicon glyphicon-remove"></span> Remove
			</button>
		</div>

		<div id="goal_creator" class="col-sm-6 col-sm-offset-3 goal-add"
			 ng-show="vm.adding">
			<div class="input-group input-group-lg">
				<input type="text" class="form-control" placeholder="Goal" 
					   ng-model="vm.goalName" />

				<input type="number" class="form-control" placeholder="Importance out of 10" style="margin-top: 10px;"
					   ng-model="vm.goalImportance" />

				<button type="button" class="btn btn-primary" style="margin-top: 20px; margin-bottom:20px;" 
						ng-click="vm.addGoal()">
					<span class="glyphicon glyphicon-plus"></span> ADD TASK!
				</button>
				
				<button type="button" class="btn btn-danger" style="margin-top: 20px; margin-bottom:20px; margin-left: 10px;" 
						ng-click="vm.adding = false">
					<span class="glyphicon glyphicon-remove"></span> Cancel
				</button>
			</div>


		</div>

		<div id="search" class="col-sm-12">
			<input type="text" class="form-control" placeholder="Text Search"
				   ng-model="vm.searchText" />
		</div>

		<div id="goals" class="col-sm-12" style="padding-top: 20px;">
			<div class="panel goal" 
				 ng-repeat="goal in vm.goals | filter:vm.filterGoal" ng-click="goal.selected = !goal.selected"
				 ng-class="{'panel-default': !goal.selected, 'panel-success': goal.selected}">
				{{ goal.task }}
			</div>
		</div>
	</div>

</div>