<div id="goal_creator" class="col-sm-12">
    <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Goal" 
           ng-model="vm.goalName" />
        <span class="input-group-btn">
            <button type="button" class="btn btn-primary" 
                    ng-click="vm.addGoal()">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </span>
    </div>
</div>
    
<hr />

<div id="goals" class="col-sm-12" style="padding-top: 20px;">
    <div class="alert alert-info" 
         ng-repeat="goal in vm.goals">
        
        <div class="col-sm-10">
            {{ goal }}
        </div>
        
        <div class="input-group input-group-sm">
            <button type="button" class="btn btn-danger btn-sm"
                    ng-click="vm.removeGoal($index)">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>
        
    </div>
</div>